<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<bean id="TrainStaffDao" class="train.Dao.Impl.TrainStaffDaoImpl">
		<property name="hibernateTemplate">
  			<ref bean="hibernateTemplate"/>
  		</property>
	</bean>
	<bean id="TrainStaffService" class="train.Service.Impl.TrainStaffServiceImpl">
		<property name="commonDao">
			<ref bean="TrainStaffDao" />
		</property>
		<property name="trainstaffdao">
			<ref bean="TrainStaffDao" />
		</property>
	</bean>
	
	<bean id="TrainStaffAction" class="train.action.TrainStaffAction">
		<property name="trainstaffservice">
			<ref bean="TrainStaffService"/>
		</property>
		<property name="trainplanservice">
			<ref bean="TrainPlanService"/>
		</property>
		
	</bean>
</beans>